* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

html {
    background-color: #fafafa;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    background-color: #fff;
    max-width: 100%;
    margin: auto;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4, -0.1rem 0rem 0.1rem #c4c4c4;
}

/* reset code and common code ends here  */

/* header starts here  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: .5rem;
    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 5vh;
}
.logo img{
    margin-left: 20px;
    width: 100px;
    height: 60px;
    border:1px solid #fa791e;
    padding: 2px;
    border-radius: 7px;
}
nav li {
    display: inline-block;
    margin-right: 2rem;
    padding: 1rem;
    padding-top: 0%;
    padding-bottom: 0%;
    transition: all 0.4s;
}
nav li:last-child {
    margin-right: 0;
}
.nav-link:not(.nohover):hover {
    background-color: #f18035;
    color: white !important;
    border-radius: 0.6rem;
    padding: 10px;
    transition: all 0.3s;
}
.nav-link:not(:hover) {
    transition: all 0.3s;
}
.nav-link {
    font-size: 1.8rem;
    color: black;
    cursor: pointer;
}
.nohover{
    background-color: #f18035;
    color: white !important;
    padding: 20px;
    transition: all 0.3s;
}
.nohover:hover{
    background-color: #f39150;
    transition: all 0.3s;
    border-radius: 1rem;
}


/* Dropdown button handling start*/
.dropdown-list { 
    border: none;
    outline: none;
    color: white;
    /* padding: 14px 16px; */
    font-size: 1.8rem;
    font-family: sans-serif;
    margin: 0;
}
.dropbtn{
    font-size: 1.8rem;  
    border: none;
    border-radius: 0.6rem;
    outline: none;
    color: black;
    padding: 10px;
    background-color: inherit;
    font-family: sans-serif;
    margin: 0;
}
.dropdown-list:hover .dropbtn {
    background-color: #f18035;
    color: white !important;
    border-radius: 0.6rem;
    margin-right: 10px;
    transition: all 0.3s;
}
.dropdown-list:not(:hover) .dropbtn {
    transition: all 0.3s;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f180359a;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropitem {
    font-size: 1.8rem;
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* Dropdown button handling end*/

/* Body Image section Start */

.bodyimage img{
    display: flex;
    margin: 0 auto;
    max-width: 150rem;
}
.buttonssection{
    display: flex;
}
.storybuttons{
    display: flex;
    margin: auto;
}
.storybuttons button{
    margin: 1px;
    height: 10rem;
    width: 20rem;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: .5rem;
    background-image: linear-gradient(to right, #fa710f , #f38a40);
    transition: ease-out 0.4s;
}
.slide:hover{
    box-shadow: inset 25rem 0 0 0 #ff6a00;
}

/* body image section end */

/* Stories card start */

.stories-section{
    display: flex;
    margin: 12%;
    margin-top: 5%;
}
.storiescard{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}
.card{
    width: 45rem;
    padding: 1rem;
    border: none;
}
.cardtext{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.card::after{
    content: "";
    position: absolute;
    left: 5;
    bottom: 0;
    height: .8rem;
    width: 0%;
    background-color: #fa710f;
    transition: all ease 1s;
}
.card:hover::after{
   width: 96%;
}
.cardh1{
    color: #f0833a;
}
.card img{
    height: 25rem;
}
.extra{
    align-items: center;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    font-style: italic;
    margin-top: 5rem;
}


.upcoming{
    width: 41rem;
    font-family: sans-serif;
}
.upcoming-info{
    display: flex;
}
.upcoming-info:hover{
    cursor: pointer;
}

.upcoming-date{
    background-color: #f0833a;
    width: 5rem;
    height: 6rem;
    text-align: center;
    align-items: center;
    margin: 1rem;
    padding: 1px 0;
}
.day{
    color: white;
    font-size: 1.9rem;
}
.month{
    font-size: 1.5rem;
    color: white;
}

.upcoming-text{
    margin: 1rem;
}
.upcoming-text h6{
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
.upcoming-extra{
    text-align: center;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
}

/* Stories section end */


 /* contact section starts here  */

 #contact-section {
    background-color:#f18035fe;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    padding-top: 4rem;
  }
.contact-box {
    text-align: center;
    margin-left: 18rem;
} 

  .form-field {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input,
  textarea {
    flex: .9;
    width: 40rem;
    margin-top:5px;
    font-size: 1.6rem;
    height: 2px;
    padding: 2rem 1rem;
    border: none;
    background-color: #f18035;
    border-bottom: 5px solid white;
    color: white;
  }
  ::placeholder{
    color: white;
  }
  textarea {
    resize: none;
    height: 12vh;
  }
  .form-btn{
    display: flex;
  }
  .contact-btn {
    color:black;
    font-size: 1.5rem;
    font-family: sans-serif;
    align-items: center;
    box-shadow: black 5px 5px 5px;
    border-radius: 20px;
    border: white solid 0.1px;
    margin-top: 5px;
    height: 40px;
    width: 30%;
  }
  
  .contact-btn:hover{
    background-color: #f180356f;
    transition: all 0.3s;
    cursor: pointer;
    color: white;
  }

  .contact-handle{
    display: flex;
    flex-direction: column;
    padding-left: 40rem;
    padding-top: 3rem;
  }
  .contact-handle a{
    color: white;
    font-size: 2rem;
    padding: .7rem;
  }
  .contact-handle a:hover{
    transform: scale(1.2);
    transition: all .3s;
  }
  .contact-handle a:not(:hover){
    transition: all .3s;
  }
  /* contact section ends here  */






  @media screen and (max-width: 1454px) {
    .nav-link {
        font-size: 1.7rem;
    }
    .dropbtn{
        font-size: 1.7rem;
    }
    .dropitem{
        font-size: 1.7rem;
    }


    .bodyimage img{
        display: flex;
        margin: 0 auto;
        max-width: 120rem;
    }
    .card{
        width: 40rem;
        padding: 1rem;
        border: none;
    }
    .card img{
        width: 35rem;
    }
    .cardtext{
        font-size: 2.3rem;
    }
    /* .card::after{
        content: "";
        position: absolute;
        left: 5;
        bottom: 0;
        height: .8rem;
        width: 0%;
        background-color: #fa710f;
        transition: all ease 1s;
    }
    .card:hover::after{
       width: 96%;
    } */
  }




  @media screen and (max-width: 1323px) {
    .bodyimage img{
        display: flex;
        margin: 0 auto;
        max-width: 100rem;
    }
    .card{
        width: 35rem;
        padding: 1rem;
        border: none;
    }
    .card img{
        width: 30rem;
    }
    .cardtext{
        font-size: 2.1rem;
    }
    /* .card::after{
        content: "";
        position: absolute;
        left: 5;
        bottom: 0;
        height: .8rem;
        width: 0%;
        background-color: #fa710f;
        transition: all ease 1s;
    }
    .card:hover::after{
       width: 96%;
    } */



    input,
    textarea {
      width: 35rem;
      margin-top:4px;
      font-size: 1.4rem;
      height: 1.5px;
      border-bottom: 4px solid white;
    }
    .contact-handle a{
        font-size: 1.8rem;
        padding: .7rem;
      }
    .contact-btn {
        font-size: 1.4rem;
        height: 35px;
        width: 30%;
    }
  }


  @media screen and (max-width: 1190px) {
    .nav-link {
        font-size: 1.6rem;
    }
    .dropbtn{
        font-size: 1.6rem;
    }
    .dropitem{
        font-size: 1.6rem;
    }





    .bodyimage img{
        display: flex;
        margin: 0 auto;
        max-width: 80rem;
    }
    .card{
        width: 30rem;
        padding: 1rem;
        border: none;
    }
    .card img{
        width: 25rem;
    }
    .cardtext{
        font-size: 2rem;
    }
    /* .card::after{
        content: "";
        position: absolute;
        left: 5;
        bottom: 0;
        height: .8rem;
        width: 0%;
        background-color: #fa710f;
        transition: all ease 1s;
    }
    .card:hover::after{
       width: 96%;
    } */



    .storybuttons button{
        margin: 1px;
        height: 8rem;
        width: 15rem;
        font-size: 1.8rem;
       
    }




    input,
    textarea {
      width: 30rem;
      margin-top:2px;
      font-size: 1.4rem;
      height: 1.2px;
      border-bottom: 3px solid white;
    }
    .contact-handle a{
        font-size: 1.5rem;
        padding: .7rem;
      }
    .contact-btn {
        font-size: 1.2rem;
        height: 30px;
        width: 30%;
    }
  }


  @media screen and (max-width: 1059px) {
    .bodyimage img{
        display: flex;
        margin: 0 auto;
        max-width: 60rem;
    }
    .card{
        width: 25rem;
        padding: 1rem;
        border: none;
    }
    .card img{
        width: 20rem;
    }
    .cardtext{
        font-size: 2rem;
    }
    /* .card::after{
        content: "";
        position: absolute;
        left: 5;
        bottom: 0;
        height: .8rem;
        width: 0%;
        background-color: #fa710f;
        transition: all ease 1s;
    }
    .card:hover::after{
       width: 96%;
    } */




    .storybuttons button{
        margin: 1px;
        height: 7rem;
        width: 12rem;
        font-size: 1.5rem;
       
    }




    input,
    textarea {
      width: 25rem;
      margin-top:1.5px;
      font-size: 1.2rem;
      height: 1px;
      border-bottom: 3px solid white;
    }
    .contact-handle a{
        font-size: 1.2rem;
        padding: .7rem;
      }
    .contact-btn {
        font-size: 1.1rem;
        height: 25px;
        width: 30%;
    }
  }





  @media screen and (orientation: portrait) {
    .nav-link {
        font-size: 1.2rem;
    }
    .dropbtn{
        font-size: 1.2rem;
    }
    .dropitem{
        font-size: 1.2rem;
    }


    .stories-section{
        display: flex;
        flex-direction: column;
    }
    .storiescard{
        display: flex;
        flex-direction: row;
    }
    .bodyimage img{
        display: flex;
        margin: 0 auto;
        max-width: 60rem;
    }
    .card{
        width: 30rem;
        padding: 1rem;
        border: none;
    }
    .card img{
        width: 30rem;
    }
    .cardtext{
        font-size: 1rem;
    }
    /* .card::after{
        content: "";
        position: absolute;
        left: 5;
        bottom: 0;
        height: .8rem;
        width: 0%;
        background-color: #fa710f;
        transition: all ease 1s;
    }
    .card:hover::after{
       width: 96%;
    } */

    #contact-section{
        display: flex;
        flex-direction: column;
    }
    input,
    textarea {
      width: 10rem;
      margin-top:4px;
      font-size: 1.2rem;
      height: 1.5px;
      border-bottom: 4px solid white;
    }
    .contact-box{
        margin-bottom: 3rem;
        margin-right: 15rem;
    }
    .contact-handle a{
        font-size: 1.5rem;
        padding: .7rem;
      }
    .contact-btn {
        font-size: 1.4rem;
        height: 30px;
        width: 20%;
    }
  }


  @media screen and (max-width: 570px) {

    /* header */

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        color: black;
        padding: .5rem;
        position: sticky;
        top: 0;
        gap: 20px;
        z-index: 10;
        min-height: 3vh;
    }

    /* nav section */

    .logo img {
        margin-left: 7px;
        width: 75px;
        height: 45px;
        border: 1px solid #fa791e;
        padding: 2px;
        border-radius: 7px;
    }

    nav li {
        /* display: inline-block; */
        margin-right: 1rem;
        padding: 0.5rem;
        /* padding-top: 0%;
        padding-bottom: 0%;
        transition: all 0.4s; */
    }

    .nohover {
        background-color: #f18035;
        color: white !important;
        padding: 10px;
        transition: all 0.3s;
    }

    /* hero */

    .bodyimage img {
        display: flex;
        margin: 0 auto;
        max-width: 100%;
    }

    .card img {
        width: 100%;
        height: 20rem;
    }
    .cardtext{
        font-size: 1.5rem;
    }

    .storiescard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .upcoming {
        width: 100%;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    /* footer */

    .form-field {
        width: 30rem;
    }
    ::placeholder{
        font-size: 1.5rem;
    }

    .contact-box {
        text-align: center;
        margin-left: 15rem;
    }

    #contact-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* flex-direction: column; */
    }

    .contact-btn {
        width: 15rem;
        height: 4rem;
    }

    .contact-handle {
        padding-left: 14rem;
        padding-right: 10rem;
        margin-bottom: 3rem;
    }
}