* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

html {
    background-color: #fafafa;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    background-color: #fff;
    max-width: 100%;
    margin: auto;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4, -0.1rem 0rem 0.1rem #c4c4c4;
}

/* reset code and common code ends here  */

/* header starts here  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: .5rem;
    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 5vh;
}
.logo img{
    margin-left: 20px;
    width: 150px;
    border:1px solid #fa791e;
    padding: 2px;
    border-radius: 7px;
}
nav li {
    display: inline-block;
    margin-right: 2rem;
    padding: 1rem;
    transition: all 0.4s;
}
nav li:last-child {
    margin-right: 0;
}
.nav-link:not(.nohover):hover {
    background-color: #f18035;
    color: white !important;
    border-radius: 0.6rem;
    padding: 10px;
    transition: all 0.3s;
}
.nav-link:not(:hover) {
    transition: all 0.3s;
}
.nav-link {
    font-size: 1.8rem;
    color: black;
    cursor: pointer;
}
.nohover{
    background-color: #f18035;
    color: white !important;
    padding: 30px;
    transition: all 0.3s;
}
.nohover:hover{
    background-color: #f39150;
    transition: all 0.3s;
    border-radius: 1rem;
}


/* Dropdown button handling start*/
.dropdown { 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    /* background-color: inherit; */
    font-family: sans-serif;
    margin: 0;
}
.dropbtn{
    font-size: 1.8rem;  
    border: none;
    border-radius: 0.6rem;
    outline: none;
    color: black;
    padding: 10px;
    background-color: inherit;
    font-family: sans-serif;
    margin: 0;
}
.dropdown:hover .dropbtn {
    background-color: #f18035;
    color: white !important;
    border-radius: 0.6rem;
    margin-right: 10px;
    transition: all 0.3s;
}
.dropdown:not(:hover) .dropbtn {
    transition: all 0.3s;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f180359a;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* Dropdown button handling end*/


/* Carousel Handling Start */

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Fading animation */
  .fade {
    animation-name: slide;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* Carousel Handling End */