* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

html {
    background-color: #fafafa;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    height: 10000px;
    background-color: #fff;
    max-width: 100%;
    margin: auto;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4, -0.1rem 0rem 0.1rem #c4c4c4;
}

/* reset code and common code ends here  */

/* header starts here  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: .5rem;
    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 5vh;
}
.logo img{
    margin-left: 20px;
    width: 100px;
    height: 60px;
    border:1px solid #fa791e;
    padding: 2px;
    border-radius: 7px;
}
nav li {
    display: inline-block;
    margin-right: 2rem;
    padding: 1rem;
    padding-top: 0%;
    padding-bottom: 0%;
    transition: all 0.4s;
}
nav li:last-child {
    margin-right: 0;
}
.nav-link:not(.nohover):hover {
    background-color: #f18035;
    color: white !important;
    border-radius: 0.6rem;
    padding: 10px;
    transition: all 0.3s;
}
.nav-link:not(:hover) {
    transition: all 0.3s;
}
.nav-link {
    font-size: 1.8rem;
    color: black;
    cursor: pointer;
}
.nohover{
    background-color: #f18035;
    color: white !important;
    padding: 20px;
    transition: all 0.3s;
}
.nohover:hover{
    background-color: #f39150;
    transition: all 0.3s;
    border-radius: 1rem;
}


/* Dropdown button handling start*/
.dropdown-list { 
    border: none;
    outline: none;
    color: white;
    /* padding: 14px 16px; */
    font-size: 1.8rem;
    font-family: sans-serif;
    margin: 0;
}
.dropbtn{
    font-size: 1.8rem;  
    border: none;
    border-radius: 0.6rem;
    outline: none;
    color: black;
    padding: 10px;
    background-color: inherit;
    font-family: sans-serif;
    margin: 0;
}
.dropdown-list:hover .dropbtn {
    background-color: #f18035;
    color: white !important;
    border-radius: 0.6rem;
    margin-right: 10px;
    transition: all 0.3s;
}
.dropdown-list:not(:hover) .dropbtn {
    transition: all 0.3s;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f180359a;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropitem {
    font-size: 1.8rem;
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* Dropdown button handling end*/



/* Donation Progress Start */

.donationprogess{
    width: 50%;
    margin: 0 auto;
    border: 1px solid #f18035;
    padding: 5rem;
    font-family: sans-serif;
    margin-top: 2%;
}
.donationprogess h2{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: #868282;
    padding: 1rem;
}
.sp{
    color: #fa791e;
}
.progresspara{
    padding: .5rem;
    font-size: 1.5rem;
}
.progressbtn{
    font-size: 1.3rem;
    font-weight: 600;
    font-family: sans-serif;
    width: 7rem;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    color: black;
    border:2px solid #df5f0a;
    border-radius: 1rem;
}
.progressbtn:hover{
    background-color: #fa6501e7;
    color: white;
    transition: all .3s;
}
.progressbtn2{
    font-size: 1.3rem;
    font-weight: 600;
    font-family: sans-serif;
    width: 15rem;
    padding: 1rem;
    margin: 1rem;
    margin-top: 2rem;
    background-color: #fa6501e7;
    color: white;
    border:2px solid #df5f0a;
    border-radius: 1rem;
}
.progressbtn2:hover{
    background-color: #ff6600;
}